{{extend 'layout.html'}}


{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var posts_url = "{{=URL('api', 'get_posts', user_signature=True)}}";
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var del_post_url = "{{=URL('api', 'del_post', user_signature=True)}}";
</script>
{{end}}

<!--
<body>
-->



<div class="container">
  <div class="row">
    <div style="background: lightgrey; padding: 0 0 545px 0"class="col-sm-4">

    </div>

    <!-- main content -->
    <div class="col-sm-8">



        <div id="vue-div" class="display:none">
            <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

            <!-- v-bind:class="{'disabled': !logged_in}" -->
            <button v-if="!adding_post" class="btn btn-info btn-sm" v-on:click="adding_post_button()" >
                Add New Post</button>



            <div v-if="adding_post" id="add-new-post">
                <form action="#" v-on:submit.prevent="add_post" class="form-horizontal" enctype="multipart/form-data" method="post">
                    <textarea class="form-control string" rows="3" v-model="form_post" placeholder="post something sooooo sic..."></textarea>


                    <button style="margin: 1%;" v-if="adding_post" type="submit" id="add_post_submit" class="btn btn-info btn-sm">
                        Post</button>
                    <button style="margin: 1%;" v-if="adding_post" class="btn btn-warning btn-sm" v-on:click="adding_post_button()">
                        Cancel</button>

                </form>
            </div>


            <div v-for="post in posts" class="post-content">
                ${post.post_content}
                


                <!--<button class="btn btn-default" v-on:click="get_more()">Load more</button>-->

            </div>

        </div>

    </div>
  </div>
</div>












<script src="{{=URL('static', 'js/default_index.js')}}"></script>
