{{extend 'layout.html'}}


{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>

    var posts_url = "{{=URL('api', 'get_posts')}}";
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var del_post_url = "{{=URL('api', 'del_post', user_signature=True)}}";
</script>
{{end}}

<!--
<body>
-->



<div class="container">
    <div id="vue-div" class="display:none">

        <div class="row">
            <div class="col-sm-4" style="background: lightgrey; border-radius: 10px; padding: 0 0 200px 0">
                <div v-if="!adding_post" id="first-look">
                    <button v-if="!adding_post" v-on:click="adding_post_button()" v-bind:class="{'disabled': !logged_in}" class="btn btn-info btn-sm" id="add-new-post-btn" style="position: absolute; bottom: 15px; right: 10px;">
                        Add New Post</button>
                </div>

                <div v-if="adding_post" id="add-new-post">
                    <form action="#" v-on:submit.prevent="add_post" class="form-horizontal" enctype="multipart/form-data" method="post">

                        <textarea  class="form-control string" v-model="form_post" rows="3"  placeholder="post something sooooo sic..."style="resize: none; width: 92.2%; margin: 15px 15px 15px 15px; position: absolute; top: 0px; left: 0px;"></textarea>

                        <button type="submit" id="add_post_submit" class="btn btn-info btn-sm" style="position: absolute; bottom: 15px; right: 80px;" >
                            Post</button>

                    </form>
                    <button v-on:click="adding_post_button()" id="add_post_cancel" class="btn btn-warning btn-sm" style="position: absolute; bottom: 15px; right: 10px;">
                        Cancel</button>
                </div>

                <div v-if="has_more" class="post-content">
                    <button class="btn btn-success btn-sm" v-on:click="get_more()" style="position: fixed; top: 300px; left: 360px;">Load more</button>
                </div>


            </div>


            <!-- main content -->
            <div class="col-sm-8">

                <div v-for="post in posts" style="word-wrap: break-word; border-radius: 10px; background:lightgrey; margin: 2px 0 25px 0; padding: 5%;">
                    ${post.post_content}
                    <div>
                        <i class="fa fa-pencil" style="margin: 0 15px 0 0" aria-hidden="true"></i>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </div>


            </div>
        </div>

    </div><!--vue-div-->
</div>












<script src="{{=URL('static', 'js/default_index.js')}}"></script>
